*{
    margin: 0;
    padding: 0;
}
.body {
    background-color: grey;
}

main{

    display: flex;
    border-radius: 20px;
    /* justify-content: space-between; */
}

/* aside bar styling */

aside{
    background-color: white;
    width: 4rem;
    margin-top: 6px;
    border-radius: 6px 0px 0px 6px
}

.logo-div2, .icon-div, .icon-div2 {
    display: flex;
    flex-direction: column;
    color: grey;
    padding: 20px;
    font-size: 16px;
}

.logo-bt {
    height: 30px;
    width: 30px;
} 

.fa-house{
    width: 30px;
    height: 30px;
    padding: 3px;
    background-color: blue;
    color: white;
    border-radius: 8px;
}

.icon-div2{
    position: relative;
    margin-top: 650px;
}

.notif-icon{
    /* border: 2px solid blue; */
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    top: 100;
    left: 37px ;
}

/* middle page styling starts here */


.middle-div{
    background-color: rgb(243, 241, 241);
    margin-top: 6px;
}

.mid-div-container{
    margin:50px 50px 0px 50px ;
}

.user-div{
    display: flex;
    margin-top: 60px;
}

.prof-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;    
}
.name-div{
    margin-left: 10px;
}


/* income div styling starts here */

.mid-right-div{
    background-color: aqua;
    margin-top: 6px;
    
}
.income-container{
    margin:50px 50px 0px 50px;
    width: 700px;
}

.income-div{
    margin-top: 60px;
}

.info-div{
    display: flex;
    justify-content: space-between;
}

/* progress bar styling starts */

.progress-container {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .progress-background {
    fill: none;
    stroke: #f2f2f2;
    stroke-width: 10;
  }

  .progress-bar {
    fill: none;
    stroke: #1abc9c;
    stroke-width: 10;
    stroke-dasharray: 0 100;
    animation: progressAnimation 2s ease-in-out forwards;
  }

  @keyframes progressAnimation {
    to {
      stroke-dasharray: 90 100;
    }
  }

  .progress-label {
    font-size: 24px;
    fill: #1abc9c;
    text-anchor: middle;
    dominant-baseline: middle;
  }